@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as mix;

.pagination {
  @include mix.margin-top(2);
  display: flex;

  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      color: vars.$color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: vars.$color-primary;
      }

      &--disable {
        pointer-events: none;
        color: lighten(vars.$color-gray, 20%);
      }

    }

  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      color: vars.$color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: vars.$color-primary;
      }

      &--disable {
        pointer-events: none;
        color: lighten(vars.$color-gray, 20%);
      }

    }

  }

}



:export {
  pagination: pagination;
  pagination__prev: pagination__prev;
  pagination__prev__prev: pagination__prev__prev;
  pagination__prev-link: pagination__prev-link;
  pagination__prev--disable: pagination__prev--disable;
  pagination-link: pagination-link;
  pagination-link-link: pagination-link-link;
  pagination-link--disable: pagination-link--disable;
  pagination--disable: pagination--disable;
  pagination--disable--disable: pagination--disable--disable;
  pagination__next: pagination__next;
  pagination__next__next: pagination__next__next;
  pagination__next-link: pagination__next-link;
  pagination__next--disable: pagination__next--disable;
}