@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as mix;

.author {
  border-top: 1px solid vars.$color-gray-border;
  max-width: vars.$layout-post-width;
  padding-top: 20px;
  @include mix.line-height(1);
  @include mix.margin-top(1);
  @include mix.margin-bottom(2);

  &__bio {
    &-twitter {
      display: block;
      text-decoration: underline;
    }
  }
}

@include mix.breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
  }

}

:export {
  author: author;
  author__bio: author__bio;
  author__bio-twitter: author__bio-twitter;
}