@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as mix;

.feed {
  &__item {
    @include mix.margin-bottom(1.25);

    &:last-child {
      @include mix.margin-bottom(.5);
    }

    &-title {
      font-size: vars.$typographic-base-font-size * 1.6875;
      @include mix.line-height(1.5);
      @include mix.margin-top(0);
      @include mix.margin-bottom(.5);

      &-link {
        color: vars.$color-base;

        &:hover,
        &:focus {
          color: vars.$color-base;
          border-bottom: 1px solid vars.$color-base;
        }

      }

    }

    &-description {
      font-size: vars.$typographic-base-font-size;
      @include mix.line-height(1);
      @include mix.margin-bottom(.75);
    }

    &-meta {
      &-time {
        font-size: vars.$typographic-small-font-size;
        color: vars.$color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: vars.$typographic-small-font-size;
          color: vars.$color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: vars.$color-primary;
          }

        }

      }

    }

    &-readmore {
      font-size: vars.$typographic-base-font-size;
      color: vars.$color-primary;

      &:hover,
      &:focus {
        color: vars.$color-primary;
        border-bottom: 1px solid vars.$color-primary;
      }

    }

  }

}

:export {
  feed: feed;
  feed__item: feed__item;
  feed__item-meta: feed__item-meta;
  feed__item-meta-time: feed__item-meta-time;
  feed__item-meta-divider: feed__item-meta-divider;
  feed__item-meta-category: feed__item-meta-category;
  feed__item-meta-category-link: feed__item-meta-category-link;
  feed__item-title: feed__item-title;
  feed__item-title-link: feed__item-title-link;
  feed__item-description: feed__item-description;
  feed__item-readmore: feed__item-readmore;
}