@use "../variables" as vars;
/**
 * Margin
 */

@mixin margin-top($number) {
    margin-top: #{ $number * vars.$typographic-leading + "px"};
}

@mixin margin-bottom($number) {
    margin-bottom: #{ $number * vars.$typographic-leading + "px"};
}

@mixin margin($top, $right, $bottom:null, $left:null) {
    @if $left==null and $bottom==null {
        margin: #{ $top * vars.$typographic-leading + "px"} #{ $right * vars.$typographic-leading + "px"};
    }

    @else if $left==null or $left==$right {
        margin: #{ $top * vars.$typographic-leading + "px"} #{ $right * vars.$typographic-leading + "px"} #{ $bottom * vars.$typographic-leading + "px"};
    }
    
    @else {
        margin: #{ $top * vars.$typographic-leading + "px"} #{ $right * vars.$typographic-leading + "px"} #{ $bottom * vars.$typographic-leading + "px"} #{ $left * vars.$typographic-leading + "px"};
    }
}