@use "../variables" as vars;
/**
 * Padding
 */

@mixin padding($top, $right, $bottom:null, $left:null) {
    @if $left==null and $bottom==null {
        padding: #{ $top * vars.$typographic-leading + "px"} #{ $right * vars.$typographic-leading + "px"};
    }
    @else if $left==null or $left==$right {
        padding: #{ $top * vars.$typographic-leading + "px"} #{ $right * vars.$typographic-leading + "px"} #{ $bottom * vars.$typographic-leading + "px"};
    }
    @else {
        padding: #{ $top * vars.$typographic-leading + "px"} #{ $right * vars.$typographic-leading + "px"} #{ $bottom * vars.$typographic-leading + "px"} #{ $left * vars.$typographic-leading + "px"};
    }
}

@mixin padding-equal($number) {
    padding: #{ $number * vars.$typographic-leading + "px"};
}