@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as mix;

.copyright {
  color: lighten(vars.$color-gray, 18%);
  font-size: vars.$typographic-small-font-size;
}

:export {
  copyright: copyright;
}