@use "sass:color";
@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as mix;

.copyright {
  color: color.scale(vars.$color-gray, $lightness: 18%);
  font-size: vars.$typographic-small-font-size;
}

:export {
  copyright: copyright;
}