@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as mix;

.tags {
  @include mix.margin-bottom(.5);

  &__list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;

    &-item {
      display: inline-block;
      margin: 10px 5px;

      &-link {
        display: inline-block;
        height: vars.$button-height;
        padding: 0 24px;
        line-height: vars.$button-height;
        border: 1px solid vars.$color-gray-border;
        text-decoration: none;
        border-radius: vars.$button-border-radius;
        color: vars.$color-base;

        &:hover,
        &:focus {
          color: vars.$color-primary;
        }

      }

    }

  }

}

:export {
  tags: tags;
  tags__list: tags__list;
  tags__list-item: tags__list-item;
  tags__list-item-link: tags__list-item-link;
}