@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as mix;

.content {
  max-width: vars.$layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: vars.$typographic-base-font-size * 2;
    max-width: vars.$layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include mix.line-height(1.65);
    @include mix.margin-top(1);
    @include mix.margin-bottom(0)
  }

  &__body {
    & figure {
      @include mix.margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include mix.padding(1, 0);

        & p {
          max-width: vars.$layout-post-width;
          font-size: vars.$typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include mix.margin-bottom(1);
          @include mix.line-height(1.5)
        }

      }

    }

    & a {
      text-decoration: underline
    }

    & * {
      max-width: vars.$layout-post-width;
      margin-left: auto;
      margin-right: auto
    }

    & img {
      max-width: 100%;
    }

  }

}

@include mix.breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: vars.$typographic-base-font-size * 3;
      @include mix.line-height(2.25);
      @include mix.margin-top(2.25);
      @include mix.margin-bottom(1.5)
    }

    &__body {
      font-size: vars.$typographic-base-font-size * 1.125;
      @include mix.line-height(1.125);
      @include mix.margin-bottom(1.125);

      & p {
        font-size: vars.$typographic-base-font-size * 1.125;
        @include mix.line-height(1.125);
        @include mix.margin-bottom(1.125)
      }

    }

  }

}



:export {
  content: content;
  content__title: content__title;
  content__title__title: content__title__title;
  content__body: content__body;
  content__body__body: content__body__body;
}