@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as mix;

.author {
  &__photo {
      width: 75px;
      height: 75px;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box
  }

  &__title {
    font-size: vars.$typographic-base-font-size * 1.125;
    font-weight: 600;
    @include mix.line-height(1.125);
    @include mix.margin(.5, 0, .5, 0);

    &-link {
      color: vars.$color-base;

      &:hover,
      &:focus {
        color: vars.$color-base
      }

    }

  }

  &__subtitle {
    color: vars.$color-gray;
    @include mix.line-height(1);
    @include mix.margin-bottom(1)
  }

}


:export {
  author: author;
  author__photo: author__photo;
  author__title: author__title;
  author__title-link: author__title-link;
  author__subtitle: author__subtitle;
}