@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as mix;

.meta {
  &__date {
    font-style: italic;
  }

}



:export {
  meta: meta;
  meta__date: meta__date;
  meta__date__date: meta__date__date;
}