@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  &__date {
    font-style: italic;
  }

}



:export {
  meta: meta;
  meta__date: meta__date;
  meta__date__date: meta__date__date;
}