@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as mix;

.sidebar {
    width: 100%;
    &__inner {
        position: relative;
        padding: 25px 20px 0;
    }
}

@include mix.breakpoint-sm {
    .sidebar {
        lost-column: 5/12;
        &__inner {
            padding: 30px 20px 0;
            &:after {
                background: vars.$color-gray-border;
                background: linear-gradient(to bottom, vars.$color-gray-border 0%, vars.$color-gray-border 48%, vars.$color-white 100%);
                position: absolute;
                content: '';
                width: 1px;
                height: 540px;
                top: 30px;
                right: -10px;
                bottom: 0;
            }
        }
    }
}

@include mix.breakpoint-md {
    .sidebar {
        lost-column: 1/3;
        &__inner {
            padding: 40px;
        }
    }
}




:export {
  sidebar: sidebar;
  sidebar__inner: sidebar__inner;
  sidebar__inner__inner: sidebar__inner__inner;
}