@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as mix;

.page {
  @include mix.margin-bottom(2);

  &__inner {
    padding: 25px 20px;
  }

  &__title {
    font-size: vars.$typographic-base-font-size * 2.5;
    font-weight: 600;
    @include mix.line-height(2);
    @include mix.margin-top(0);
    @include mix.margin-bottom(1.45);
  }

  &__body {
    font-size: vars.$typographic-base-font-size;
    @include mix.line-height(1);
    @include mix.margin(0, 0, 1);
  }

}

@include mix.breakpoint-sm {
  .page {
    lost-column: 7/12;

    &__inner {
      padding: 30px 20px;
    }

  }

}

@include mix.breakpoint-md {
  .page {
    lost-column: 2/3;

    &__inner {
      padding: 40px 35px;
    }

  }

}



:export {
  page: page;
  page__inner: page__inner;
  page__inner__inner: page__inner__inner;
  page__title: page__title;
  page__title__title: page__title__title;
  page__body: page__body;
  page__body__body: page__body__body;
}